<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/Flask_app/static/styles/styles.css">
    <title>Top Films Table</title>
</head>



<body>

    <h1>Top Films of The Last 100 Years</h1>
    <table class="movieTable"></table>

    <script type="module" src="/Flask_app/static/dist/module.js"></script>
    <script src="/Flask_app/static/js/film_data.js"></script>
    <script type="module" src="/Flask_app/static/js/movie_charts.js"></script> 
    
</body>
